@model DynamicProductUpdate.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<main aria-labelledby="title" class="d-flex align-items-start justify-content-center vh-100">
    <div class="card shadow-sm w-100 w-md-75 w-lg-50 mt-2">
        <div class="p-4">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()

                <h4>Create a new account.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="mb-3 row">
                    @Html.LabelFor(m => m.Email, new { @class = "col-12 col-md-4 col-form-label" })
                    <div class="col-12 col-md-8">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>

                <div class="mb-3 row">
                    @Html.LabelFor(m => m.Password, new { @class = "col-12 col-md-4 col-form-label" })
                    <div class="col-12 col-md-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>

                <div class="mb-3 row">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-12 col-md-4 col-form-label" })
                    <div class="col-12 col-md-8">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-12">
                        <input type="submit" value="Register" class="btn btn-outline-dark w-100" />
                    </div>
                </div>
            }
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
